<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Tuto_vuejs</title>
</head>

<style>

  .box {
    width: 250px;
    height: 250px;
    border: 1px solid #333;
  }
  .red {
    background: crimson;
  }

  .bordure {
    border: 10px solid #333;
  }

</style>

<body>

  <div id="mon-app">
    <h1>Vue Js Cours</h1>
    <button @click="toggleBox = !toggleBox"> Toggle la couleur</button>
 
    <div v-if="toggleBox" class="box red"></div>
    <p v-else="toggleBox">sinon</p>

    <template v-if="toggleBox">
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nemo, et.</p>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nemo, et.</p>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nemo, et.</p>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nemo, et.</p>
    </template>

    
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script>

    new Vue({
      el: '#mon-app',
      data: {
       toggleBox: true
      },
    })

  </script>

</body>
</html>